@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto" sans-serif;
    line-height: 1.7;
    
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    padding: 14px 22px;
    font-size: 1.1rem;
    background-color: #343a40;
    transition: all 0.4s ease;
}

.navbar {
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.img {
    width: 100%;
}

.service-img {
    font-size: 2rem;
    width: 90px;
    height: 90px;
    background-color: #343a40;
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


